$darkGrey: #5C5B5B;
$lightBlue: #158EFF;


html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 9s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

p, li, span, label, input, textarea {
    margin: 0;
    color: $darkGrey;
}

a {
    text-decoration: none;
    color: $darkGrey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.navigation {
    z-index: 3;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(16, 17, 17, 0.95);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'logo toggle'
        'nav nav'
        ;

    &__logo {
        grid-area: logo;
        display: block;
        margin: 12px 0 0 20px;
        width: 200px;

        &__img {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        grid-area: nav;
        margin: 0;
        display: none;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;

        &--open {
            clip-path: circle(250% at top right);
          /*   display: block; */
          }
    }
    
    &__list {
        display: flex;
    }

    &__element {
        font-weight: 600;
        margin: 8px auto;
    }

    &__link {
        color: rgb(227, 227, 231);

        &:hover {
            color: white;
            border-bottom: 3px solid $lightBlue;
        }
    }

    &__toggle {
        grid-area: toggle;
        padding: 1em;
        top: .5em;
        right: .5em;
        margin: 12px 5% 0 auto;
        cursor: pointer;
      }

    &__hamburger,
    &__hamburger::before,
    &__hamburger::after {
        content: '';
        display: block;
        background: rgb(227, 227, 231);
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    
    &__hamburger::before {
        transform: translateY(-6px);
    }
    
    &__hamburger::after {
        transform: translateY(3px);
    }
}

.open .navigation__hamburger {
    transform: rotate(45deg);
}

.open .navigation__hamburger::before {
    opacity: 0;
}

.open .navigation__hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}



.intro {
    padding: 80px 0 0 0;

    &__title {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    &__info {
        gap: 2%;
        margin: 40px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 95%;

        &__card {
            text-align: center;

            &--side {
                padding-top: 20%;
            }

            img {
                width: 100%;
            }

            h4 {
                padding-bottom: 2%;
                font-family: 'Roboto', sans-serif;
                color: black;
            }
        }
    }

    &__text {
        margin: 20px 10%;
    }

    &__img {
        width: 100%;
        margin: 20px 0;

        &--background {
            position: absolute;
        }
    }
}

.slider {
    width: 80%;
    overflow: hidden;
    margin: 40px auto;
    grid-area: header;

    &--background {
        margin-top: 30%;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: 70px;
        width: 100%;
        border-radius: 8px 8px 0 0;
        grid-area: header;
        background-color: #919191;

        &__info {
            width: 20%;
            display: flex;

            img {
                height: 70%;
                margin: auto 5px;
                display: block;
            }

            &__title {
                font-size: calc(min(max(14px, 3.5vw), 24px));
                margin: auto 0;
                color: white;
            }
        }

        ul {
            margin-right: 5px;
            display: flex;

            li {
                margin: auto 5px;

                a {
                    color: white;
                    font-size: 18px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    & > a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;
      }

    & > a:active {
        top: 1px;
      }

    & > a:focus {
        background: #000;
      }
  }

.strom {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    & > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 99%;
        margin-right: 50px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        background-color: white;
        border-radius: 10px;
        border: 1px solid #8a8a85;
    }

    & > div:target {
      /*   transform: scale(0.8); */
      }

    &__intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'tacho'
            'text'
            ;


        &__tacho {
            padding-top: 10px;
            grid-area: tacho;
            display: flex;

            div {
                margin: auto;
            }

            ul {
                text-align: center;

                li a {
                    text-decoration: underline;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &__img {
                display: block;
                width: 80%; 
                margin: 0 auto;

                &__details {
                    display: block;
                    width: 80%;
                    margin: 20px auto 5px auto;
                }

                &__link {
                    display: block;
                    text-align: center;
                    margin: 5px auto;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        } 

        &__text {
            grid-area: text;
            width: 90%;
        }
    }

    &__graph {
        img {
            width: 90%;
        }
    }

    &__bundesl채nder {
        &__map {
            grid-template-columns: 1fr;

            svg {
                width: 90%;
                margin: auto;
            }
    
            path {
                fill: #176e1ee3;
                stroke: #8a8a85;
                stroke-width: 4px;
                transition: fill 0.3s;
            }
    
            & :hover {
                fill: #457949e3;
            }
        }
    }
}

.verkehr {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    & > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 99%;
        margin-right: 50px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        background-color: white;
        border-radius: 10px;
        border: 1px solid #8a8a85;
    }

    & > div:target {
      /*   transform: scale(0.8); */
      }

    &__intro{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'tacho'
            'text'
            ;

        &__tacho {
            grid-area: tacho;
            display: flex;

            div {
                margin: auto;
            }

            ul {
                text-align: center;

                li a {
                    text-decoration: underline;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &__img {
                display: block;
                width: 80%; 
                margin: 0 auto;

                &__details {
                    display: block;
                    width: 80%;
                    margin: 20px auto 5px auto;
                }

                &__link {
                    display: block;
                    text-align: center;
                    margin: 5px auto;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        } 

        &__text {
            grid-area: text;
            width: 90%;
        }
    }
}

.w채rme {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    & > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 99%;
        margin-right: 50px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        background-color: white;
        border-radius: 10px;
        border: 1px solid #8a8a85;
    }

    & > div:target {
      /*   transform: scale(0.8); */
      }

    &__intro{
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            'tacho'
            'text'
            ;

        &__header {
            height: 40px;
            width: 100%;
            border-radius: 8px 8px 0 0;
            grid-area: header;
            background-color: #919191;
        }

        &__tacho {
            padding-top: 20px;
            grid-area: tacho;
            display: flex;

            div {
                margin: auto;
            }

            ul {
                text-align: center;

                li a {
                    text-decoration: underline;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &__img {
                display: block;
                width: 80%; 
                margin: 0 auto;

                &__details {
                    display: block;
                    width: 80%;
                    margin: 20px auto 5px auto;
                }

                &__link {
                    display: block;
                    text-align: center;
                    margin: 5px auto;
                    font-size: 12px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        } 

        &__text {
            grid-area: text;
            width: 90%;
        }
    }
}


.energien {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
      }
    &::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
      }
    &::-webkit-scrollbar-track {
        background: transparent;
      }

    & > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 99%;
        margin-right: 50px;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        background-color: white;
        border-radius: 10px;
        border: 1px solid #8a8a85;
    }

    & > div:target {
      /*   transform: scale(0.8); */
      }

    &__quelle {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-areas:
            'quelle__title quelle__title'
            'quelle__img quelle__video'
            'quelle__text quelle__text'
            ;
        padding: 30px 0;

        &--flip {
            grid-template-columns: 60% 40%;
            grid-template-areas:
            'quelle__title quelle__title'
            'quelle__video quelle__img'
            'quelle__text quelle__text'
            ;
        }

        &__title {
            grid-area: quelle__title;
            text-align: center;
        }

        &__image {
            grid-area: quelle__img;
            display: flex;
            align-items: center;   

            img {
                width: 80%;
                object-fit: contain;
                display: block;
                margin: auto;
            }
        }

        &__video {
            grid-area: quelle__video;
            display: flex;
            align-items: center;            

            iframe {
                margin: auto;
                display: block;
            }
        }

        &__text {
            grid-area: quelle__text;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &__click {
                display: flex;

                svg {
                    margin-left: 8px;
                    width: 20px;
                    fill: #8a8a85;
                    stroke: #5C5B5B;
                    stroke-width: 3px;
                    transition: transform 0.5s;
                }
                &:hover {
                    cursor: pointer;

                    a {
                        text-decoration: underline;
                        color: #919191;
                    }

                    svg {
                        fill: #919191;
                    }
                }
            }

            &__content {
                width: 90%;
                margin: auto;
                display: none;
            }
        }
    }
}

.rotate {
    transform: rotate(90deg);
}


.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}



@media screen and (min-width: 700px){
    .navigation {
        padding-bottom: 5px;
        gap: 30px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        grid-template-areas:
            'logo nav'
            ;

        &__toggle {
            display: none;
          }
    
        &__nav {
            display: block !important;
            clip-path: initial;
        }

        &__list {
            justify-content: flex-end;
            margin-right: 5%;
        }

        &__element {
            margin: 20px 10px;
        }
    }

    .intro {
        &__info{
            width: 85%;
        }
    }




    .strom {
        &__intro{
            grid-template-columns: 65% 35%;
            grid-template-areas:
                'text tacho'
                ;

            &__text {
                width: 80%;
                margin: auto;
            }

            &__tacho {
                display: block;
            }
        }

        &__bundesl채nder {
            &__map {
                width: 40%;
            }
        }
    }

    .verkehr {
        &__intro{
            gap: 30px 0;
            grid-template-columns: 65% 35%;
            grid-template-areas:
                'text tacho'
                ;

            &__text {
                width: 80%;
                margin: auto;
            }

            &__tacho {
                display: block;
            }
        }
    }

    .w채rme {
        &__intro{
            gap: 30px 0;
            grid-template-columns: 65% 35%;
            grid-template-areas:
                'text tacho'
                ;

            &__text {
                width: 80%;
                margin: auto;
            }

            &__tacho {
                display: block;
            }
        }
    }
}