@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 12s ease infinite;
          animation: gradient 12s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h2, h3, h4, h5, h6, strong {
  margin: 0;
}

p, li, span, label, input, textarea {
  margin: 0;
  color: #5C5B5B;
}

a {
  text-decoration: none;
  color: #5C5B5B;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.navigation {
  z-index: 3;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(16, 17, 17, 0.95);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'logo toggle' 'nav nav';
}

.navigation__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
  margin: 12px 0 0 20px;
  width: 200px;
}

.navigation__logo__img {
  display: block;
  width: 100%;
}

.navigation__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  margin: 0;
  display: none;
  -webkit-clip-path: circle(0px at top right);
          clip-path: circle(0px at top right);
  -webkit-transition: -webkit-clip-path ease-in-out 700ms;
  transition: -webkit-clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
}

.navigation__nav--open {
  -webkit-clip-path: circle(250% at top right);
          clip-path: circle(250% at top right);
  /*   display: block; */
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__element {
  font-weight: 600;
  margin: 8px auto;
}

.navigation__link {
  color: #e3e3e7;
}

.navigation__link:hover {
  color: white;
  border-bottom: 3px solid #158EFF;
}

.navigation__toggle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: toggle;
  padding: 1em;
  top: .5em;
  right: .5em;
  margin: 12px 5% 0 auto;
  cursor: pointer;
}

.navigation__hamburger, .navigation__hamburger::before, .navigation__hamburger::after {
  content: '';
  display: block;
  background: #e3e3e7;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.navigation__hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.navigation__hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open .navigation__hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .navigation__hamburger::before {
  opacity: 0;
}

.open .navigation__hamburger::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg);
}

.intro {
  padding: 80px 0 0 0;
}

.intro__title {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.intro__info {
  gap: 2%;
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
}

.intro__info__card {
  text-align: center;
}

.intro__info__card--side {
  padding-top: 20%;
}

.intro__info__card img {
  width: 100%;
}

.intro__info__card h4 {
  padding-bottom: 2%;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.intro__summary {
  margin: 40px auto 5% auto;
}

.intro__summary__title {
  text-align: center;
  font-size: 5vw;
}

.intro__summary__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__summary__list li {
  font-size: 3.5vw;
  margin: 5px;
  color: black;
}

.intro__summary img {
  margin: 1% auto auto auto;
  width: 60%;
  display: block;
}

.intro__text {
  margin: 20px 10%;
}

.intro__text--card {
  width: 90%;
  margin: auto;
}

.intro__img {
  width: 100%;
  margin: 20px 0;
}

.intro__img--background {
  position: absolute;
}

.slider {
  width: 90%;
  overflow: hidden;
  margin: 80px auto 20px auto;
}

.slider--background {
  margin-top: 30%;
}

.slider--small {
  margin: 150px auto 20px auto;
}

.slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  grid-area: header;
  background-color: #919191;
}

.slider__header__info {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__header__info img {
  height: 70%;
  margin: auto 5px;
  display: block;
}

.slider__header__info__title {
  font-size: calc(min(max(20px, 3.5vw), 32px));
  margin: auto 0;
  color: white;
}

.slider__header__link {
  color: #e3e3e7;
  font-size: calc(min(max(18px, 3vw), 22px));
}

.slider__header__link:hover {
  color: white;
}

.slider__header__link--clicked {
  color: #3d3d3d;
}

.slider__header__link--clicked:hover {
  color: #535353;
}

.slider__header ul {
  margin-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__header ul li {
  margin: auto 5px;
}

.slider > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

.sektor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.sektor::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.sektor::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.sektor::-webkit-scrollbar-track {
  background: transparent;
}

.sektor > div {
  padding-bottom: 20px;
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 99%;
  margin-right: 50px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #8a8a85;
}

.sektor > div:target {
  /*   transform: scale(0.8); */
}

.sektor__intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 'tacho' 'text';
}

.sektor__intro__tacho {
  padding-top: 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tacho;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.sektor__intro__tacho__img {
  display: block;
  width: 80%;
  margin: auto;
}

.sektor__intro__tacho__img__details {
  display: block;
  width: 95%;
  margin: auto 0;
}

.sektor__intro__tacho__img__details li {
  font-size: calc(2.3vw);
  margin-top: 8px;
}

.sektor__intro__tacho__img__details li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: underline;
}

.sektor__intro__tacho__img__details li a:hover {
  color: unset;
}

.sektor__intro__tacho__img__details li a img {
  height: calc(1.8vw);
}

.sektor__intro__tacho__img__link {
  display: block;
  text-align: center;
  margin: 5px auto;
  font-size: calc(2.8vw);
}

.sektor__intro__tacho__img__link:hover {
  text-decoration: underline;
}

.sektor__intro__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  width: 90%;
}

.sektor__graph {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 'graph__title' 'graph__image' 'graph__details ';
}

.sektor__graph__title {
  margin: 30px 0;
  font-size: 2.7vw;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: graph__title;
}

.sektor__graph__details {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: graph__details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 95%;
  margin: auto;
}

.sektor__graph__details li {
  font-size: calc(4vw);
  margin: 8px auto;
}

.sektor__graph__details li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-decoration: underline;
}

.sektor__graph__details li a:hover {
  color: unset;
}

.sektor__graph__details li a img {
  height: calc(3.5vw);
}

.sektor__graph__img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: graph__image;
  width: 90%;
  display: block;
  margin: auto;
}

.sektor__bundesländer__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 'sektor__bundesländer__title' 'sektor__bundesländer__map' 'sektor__bundesländer__list';
}

.sektor__bundesländer__title {
  font-size: calc(2.5vw);
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sektor__bundesländer__title;
}

.sektor__bundesländer__list {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sektor__bundesländer__list;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sektor__bundesländer__list li {
  font-size: calc(2.8vw);
  margin: 5px;
  color: black;
}

.sektor__bundesländer__map {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sektor__bundesländer__map;
  width: 70%;
  margin: auto;
}

.sektor__bundesländer__map__path {
  fill: #176e1ee3;
  stroke: #8a8a85;
  stroke-width: 4px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.sektor__bundesländer__map__path--Mecklenburg-Vorpommern, .sektor__bundesländer__map__path--Schleswig-Holstein, .sektor__bundesländer__map__path--Thüringen {
  fill: #48b30a;
}

.sektor__bundesländer__map__path--Bayern, .sektor__bundesländer__map__path--Hessen, .sektor__bundesländer__map__path--Niedersachsen, .sektor__bundesländer__map__path--Rheinland-Pfalz, .sektor__bundesländer__map__path--Sachsen-Anhalt {
  fill: #44b853;
}

.sektor__bundesländer__map__path--Baden-Württemberg, .sektor__bundesländer__map__path--Saarland, .sektor__bundesländer__map__path--Brandenburg {
  fill: #a6dd4c;
}

.sektor__bundesländer__map__path--Bremen, .sektor__bundesländer__map__path--Nordrhein-Westfalen, .sektor__bundesländer__map__path--Sachsen {
  fill: #bbbb39;
}

.sektor__bundesländer__map__path--Hamburg, .sektor__bundesländer__map__path--Berlin {
  fill: #968538;
}

.sektor__bundesländer__map__path--Hamburg:hover ~ .sektor__bundesländer__list, .sektor__bundesländer__map__path--Berlin:hover ~ .sektor__bundesländer__list {
  background-color: green;
}

.sektor__bundesländer__map__path:hover {
  opacity: 0.9;
  cursor: pointer;
}

.sektor__bundesländer__map svg {
  margin: auto;
}

.energien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.energien::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.energien::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.energien::-webkit-scrollbar-track {
  background: transparent;
}

.energien > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 99%;
  margin-right: 50px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #8a8a85;
}

.energien > div:target {
  /*   transform: scale(0.8); */
}

.energien__quelle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
      grid-template-areas: 'quelle__title quelle__title' 'quelle__img quelle__video' 'quelle__text quelle__text';
  padding: 30px 0;
}

.energien__quelle--flip {
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
      grid-template-areas: 'quelle__title quelle__title' 'quelle__video quelle__img' 'quelle__text quelle__text';
}

.energien__quelle__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: quelle__title;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.energien__quelle__title h3 {
  margin-left: 5%;
}

.energien__quelle__title__images {
  height: 4vw;
  max-height: 60px;
  min-height: 40px;
  margin-right: 5%;
}

.energien__quelle__title__images a img {
  margin: 2px;
  height: 100%;
}

.energien__quelle__image {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: quelle__img;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.energien__quelle__image img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.energien__quelle__video {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: quelle__video;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.energien__quelle__video iframe {
  margin: auto;
  display: block;
}

.energien__quelle__text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: quelle__text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.energien__quelle__text__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.energien__quelle__text__click svg {
  margin-left: 8px;
  width: 20px;
  fill: #8a8a85;
  stroke: #5C5B5B;
  stroke-width: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.energien__quelle__text__click:hover {
  cursor: pointer;
}

.energien__quelle__text__click:hover a {
  text-decoration: underline;
  color: #919191;
}

.energien__quelle__text__click:hover svg {
  fill: #919191;
}

.energien__quelle__text__content {
  width: 90%;
  margin: auto;
  display: none;
}

.energien__quelle__text__content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.energien__quelle__text__content__wrapper__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.energien__quelle__text__content__wrapper ul {
  padding-top: 20px;
}

.scroll-card {
  scroll-margin-top: 80px;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 3px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.dot--green {
  background-color: #2ACA3E;
}

.dot--red {
  background-color: #FC6058;
}

.kontakt {
  margin: 120px auto 60px auto;
}

.kontakt__form {
  width: 80%;
  margin: auto;
  background-color: #eef4f8;
  border: 1px solid #5C5B5B;
  border-radius: 10px;
  padding: 10px 20px;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.kontakt__form p {
  margin: 20px 0;
}

.kontakt__form p :focus {
  outline: 0;
}

.kontakt__form p label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #3d3d3d;
}

.kontakt__form p label input {
  width: 50%;
  max-width: 140px;
  padding: 3px;
  margin-left: 10px;
}

.kontakt__form p textarea {
  border-radius: 5px;
  width: 80%;
  resize: none;
  margin: auto;
  display: block;
  height: calc(min(max(200px, 20vw), 500px));
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kontakt__form p button {
  padding: 5px 10px;
  cursor: pointer;
  display: block;
  margin: auto;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.footer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
  .navigation {
    padding-bottom: 5px;
    gap: 30px 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60px;
        grid-template-rows: 60px;
        grid-template-areas: 'logo nav';
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__nav {
    display: block !important;
    -webkit-clip-path: initial;
            clip-path: initial;
  }
  .navigation__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 5%;
  }
  .navigation__element {
    margin: 20px 10px;
  }
  .intro__info {
    width: 85%;
  }
  .intro__summary__title {
    font-size: 4vw;
  }
  .intro__summary__list li {
    margin: 4px 2%;
    font-size: 3vw;
  }
  .intro__summary img {
    width: 40%;
  }
  .slider {
    width: 70%;
  }
  .slider--small {
    width: 80%;
  }
  .slider--background {
    margin-top: 25%;
  }
  .sektor__intro {
    -ms-grid-columns: 55% 45%;
        grid-template-columns: 55% 45%;
        grid-template-areas: 'text tacho';
  }
  .sektor__intro__text {
    width: 80%;
    margin: auto;
  }
  .sektor__intro__tacho {
    display: block;
  }
  .sektor__intro__tacho__img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
  .sektor__intro__tacho__img__link {
    font-size: calc(1.6vw);
  }
  .sektor__intro__tacho__img__details {
    padding-top: 10px;
    display: block;
    width: 80%;
    margin: auto;
  }
  .sektor__intro__tacho__img__details li {
    font-size: calc(1.5vw);
    margin-top: 5px;
  }
  .sektor__intro__tacho__img__details li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sektor__intro__tacho__img__details li a:hover {
    text-decoration: underline;
  }
  .sektor__intro__tacho__img__details li a img {
    height: calc(1.3vw);
  }
  .sektor__graph__title {
    margin: 30px 0;
    font-size: 2.2vw;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: graph__title;
  }
  .sektor__graph__details {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: graph__details;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 99%;
    margin: auto;
  }
  .sektor__graph__details li {
    font-size: calc(1.2vw);
    margin: 8px auto;
  }
  .sektor__graph__details li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    text-decoration: underline;
  }
  .sektor__graph__details li a:hover {
    color: unset;
  }
  .sektor__graph__details li a img {
    height: calc(1vw);
  }
  .sektor__graph__img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: graph__image;
    width: 90%;
    display: block;
    margin: auto;
  }
  .sektor__bundesländer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'sektor__bundesländer__title sektor__bundesländer__title' 'sektor__bundesländer__list sektor__bundesländer__map';
  }
  .sektor__bundesländer__title {
    font-size: calc(2vw);
    width: 90%;
    text-align: center;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: sektor__bundesländer__title;
  }
  .sektor__bundesländer__list {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sektor__bundesländer__list;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .sektor__bundesländer__list li {
    font-size: calc(1.5vw);
    margin: 3px;
  }
  .sektor__bundesländer__map {
    width: 90%;
  }
  .sektor__bundesländer__map svg {
    margin: auto;
  }
  .energien__quelle__text__content__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .energien__quelle__text__content__wrapper__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .kontakt {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .slider--small {
    width: 50%;
  }
  .energien__quelle__text__content__wrapper {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .energien__quelle__text__content__wrapper__heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=default.css.map */