$darkGrey: #5C5B5B;
$lightBlue: #158EFF;


html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Statis Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

p, li, span, label, input, textarea {
    margin: 0;
    color: $darkGrey;
}

a {
    text-decoration: none;
    color: $darkGrey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.navigation {
    height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $darkGrey;

    &__logo {
        display: block;
        margin: auto 0 15px 2%;
        color: black;

        &:hover {
            color: $darkGrey;
            border-bottom: 3px solid $lightBlue;
        }
    }

    &__nav {
        margin: 0;
    }
    
    &__list {
        display: flex;
        height: 100%;
    }

    &__element {
        margin: auto 10px 20px 10px;
        font-weight: 600;
    }

    &__link {
        color: black;

        &:hover {
            color: $darkGrey;
            border-bottom: 2px solid $lightBlue;
        }
    }
}

.intro{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'tacho'
        'text'
        'image'
        ;

    &__tacho {
        grid-area: tacho;
    
        ul {
            text-align: center;

            li a {
                text-decoration: underline;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__img {
            display: block;
            width: 80%; 
            margin: 20px auto 0 auto;
        }
    } 
    
    &__text {
        grid-area: text;
    }
    
    &__image {
        grid-area: image;
    }
}

.details {
    &__text {
        border-bottom: 1px solid $darkGrey;

        h5 {
            margin: 40px 5%;
        }
    }

    &__windrad {
        height: 350px;
        display: flex;
        justify-content: space-evenly;
        background-color: #f3e8a7;
        border-bottom: 1px solid $darkGrey;
    
        img {
            width: 40%;
            margin: 20px auto;
            object-fit: contain;
        }
    
        h5 {
            margin: auto;
        }
    }
}

.bundesländer {
    &__img {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}


.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 700px){
    .intro{
        gap: 50px 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'tacho text'
            'image image'
            ;

        &__text {
            margin: auto;
        }
    }
}