@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto Slab', serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 9s ease infinite;
          animation: gradient 9s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1, h2, h3, h4, h5, h6, strong {
  margin: 0;
}

p, li, span, label, input, textarea {
  margin: 0;
  color: #5C5B5B;
}

a {
  text-decoration: none;
  color: #5C5B5B;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.navigation {
  z-index: 3;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(16, 17, 17, 0.95);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'logo toggle' 'nav nav';
}

.navigation__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  display: block;
  margin: 12px 0 0 20px;
  width: 200px;
}

.navigation__logo__img {
  display: block;
  width: 100%;
}

.navigation__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  margin: 0;
  display: none;
  -webkit-clip-path: circle(0px at top right);
          clip-path: circle(0px at top right);
  -webkit-transition: -webkit-clip-path ease-in-out 700ms;
  transition: -webkit-clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms;
  transition: clip-path ease-in-out 700ms, -webkit-clip-path ease-in-out 700ms;
}

.navigation__nav--open {
  -webkit-clip-path: circle(250% at top right);
          clip-path: circle(250% at top right);
  /*   display: block; */
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__element {
  font-weight: 600;
  margin: 8px auto;
}

.navigation__link {
  color: #e3e3e7;
}

.navigation__link:hover {
  color: white;
  border-bottom: 3px solid #158EFF;
}

.navigation__toggle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: toggle;
  padding: 1em;
  top: .5em;
  right: .5em;
  margin: 12px 5% 0 auto;
  cursor: pointer;
}

.navigation__hamburger, .navigation__hamburger::before, .navigation__hamburger::after {
  content: '';
  display: block;
  background: #e3e3e7;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  -webkit-transition: all ease-in-out 500ms;
  transition: all ease-in-out 500ms;
}

.navigation__hamburger::before {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.navigation__hamburger::after {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.open .navigation__hamburger {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open .navigation__hamburger::before {
  opacity: 0;
}

.open .navigation__hamburger::after {
  -webkit-transform: translateY(-3px) rotate(-90deg);
          transform: translateY(-3px) rotate(-90deg);
}

.intro {
  padding: 80px 0 0 0;
}

.intro__title {
  text-align: center;
}

.intro__info {
  gap: 2%;
  margin: 40px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
}

.intro__info__card {
  text-align: center;
}

.intro__info__card--side {
  padding-top: 20%;
}

.intro__info__card img {
  width: 100%;
}

.intro__info__card h4 {
  color: black;
}

.intro__text {
  margin: 20px 10%;
}

.intro__img {
  margin: 20px 0;
}

.slider {
  width: 80%;
  overflow: hidden;
  margin: 40px auto;
}

.slider > a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}

.slider > a:focus {
  background: #000;
}

.strom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.strom::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.strom::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.strom::-webkit-scrollbar-track {
  background: transparent;
}

.strom > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin-right: 50px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #8a8a85;
}

.strom > div:target {
  /*   transform: scale(0.8); */
}

.strom__intro {
  gap: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: 'tacho' 'text';
}

.strom__intro__tacho {
  padding-top: 20px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: tacho;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.strom__intro__tacho div {
  margin: auto;
}

.strom__intro__tacho ul {
  text-align: center;
}

.strom__intro__tacho ul li a {
  text-decoration: underline;
}

.strom__intro__tacho ul li a:hover {
  opacity: 0.8;
}

.strom__intro__tacho__img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.strom__intro__tacho__img__details {
  display: block;
  width: 80%;
  margin: 20px auto 5px auto;
}

.strom__intro__tacho__img__link {
  display: block;
  text-align: center;
  margin: 5px auto;
  font-size: 12px;
}

.strom__intro__tacho__img__link:hover {
  text-decoration: underline;
}

.strom__intro__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text;
  width: 90%;
}

.strom__bundesländer__map {
  width: 90%;
  display: block;
  padding: 20px 0;
  margin: 0 auto;
}

.strom__bundesländer__map path {
  fill: #176e1ee3;
  stroke: #8a8a85;
  stroke-width: 4px;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.strom__bundesländer__map :hover {
  fill: #457949e3;
}

.energien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.energien::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.energien::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.energien::-webkit-scrollbar-track {
  background: transparent;
}

.energien > div {
  scroll-snap-align: start;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin-right: 50px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #8a8a85;
}

.energien > div:target {
  /*   transform: scale(0.8); */
}

.energien__quelle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'quelle__img quelle__video' 'quelle__text quelle__text';
  padding: 30px 0;
  gap: 30px 0;
  border-bottom: 1px solid #8a8a85;
}

.energien__quelle--flip {
      grid-template-areas: 'quelle__video quelle__img' 'quelle__text quelle__text';
}

.energien__quelle__image {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: quelle__img;
}

.energien__quelle__image img {
  width: 80%;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.energien__quelle__video {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: quelle__video;
}

.energien__quelle__video iframe {
  margin: auto;
  width: 80%;
  height: 100%;
  display: block;
}

.energien__quelle__text {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: quelle__text;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.energien__quelle__text__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.energien__quelle__text__click svg {
  margin-left: 8px;
  width: 20px;
  fill: #8a8a85;
  stroke: #5C5B5B;
  stroke-width: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.energien__quelle__text__click:hover {
  cursor: pointer;
}

.energien__quelle__text__click:hover a {
  text-decoration: underline;
  color: #919191;
}

.energien__quelle__text__click:hover svg {
  fill: #919191;
}

.energien__quelle__text__content {
  width: 90%;
  margin: auto;
  display: none;
}

.rotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 700px) {
  .navigation {
    padding-bottom: 5px;
    gap: 30px 0;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 60px;
        grid-template-rows: 60px;
        grid-template-areas: 'logo nav';
  }
  .navigation__toggle {
    display: none;
  }
  .navigation__nav {
    display: block !important;
    -webkit-clip-path: initial;
            clip-path: initial;
  }
  .navigation__list {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 5%;
  }
  .navigation__element {
    margin: 20px 10px;
  }
  .intro__info {
    width: 85%;
  }
  .slider {
    width: 70%;
  }
  .strom__intro {
    gap: 30px 0;
    -ms-grid-columns: 65% 35%;
        grid-template-columns: 65% 35%;
        grid-template-areas: 'text tacho';
  }
  .strom__intro__text {
    width: 80%;
    margin: auto;
  }
  .strom__intro__tacho {
    display: block;
  }
  .strom__bundesländer__map {
    width: 60%;
  }
}
/*# sourceMappingURL=default.css.map */