$darkGrey: #5C5B5B;
$lightBlue: #158EFF;


html, body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, strong {
    margin: 0;
}

p, li, span, label, input, textarea {
    margin: 0;
    color: $darkGrey;
}

a {
    text-decoration: none;
    color: $darkGrey;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'logo toggle'
        'nav nav'
        ;

    &__logo {
        grid-area: logo;
        display: block;
        color: black;
        margin: 12px 0 0 20px;
        width: 200px;

        &__img {
            display: block;
            width: 100%;
        }
    }

    &__nav {
        grid-area: nav;
        margin: 0;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;

        &--open {
            clip-path: circle(250% at top right);
          /*   display: block; */
          }
    }
    
    &__list {
        display: flex;
    }

    &__element {
        font-weight: 600;
        margin: 8px auto;
    }

    &__link {
        color: black;

        &:hover {
            color: $darkGrey;
            border-bottom: 3px solid $lightBlue;
        }
    }

    &__toggle {
        grid-area: toggle;
        padding: 1em;
        top: .5em;
        right: .5em;
        margin: 12px 5% 0 auto;
        cursor: pointer;
      }

      &__hamburger,
      &__hamburger::before,
      &__hamburger::after {
        content: '';
        display: block;
        background: #8a8a85;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
      }
      
      &__hamburger::before {
        transform: translateY(-6px);
      }
      
      &__hamburger::after {
        transform: translateY(3px);
      }
      
      .open &__hamburger {
        transform: rotate(45deg);
      }
      
      .open &__hamburger::before {
        opacity: 0;
      }
      
      .open &__hamburger::after {
        transform: translateY(-3px) rotate(-90deg);
      }
      
}

.intro{
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'tacho'
        'text'
        'image'
        ;

    &__tacho {
        grid-area: tacho;
    
        ul {
            text-align: center;

            li a {
                text-decoration: underline;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &__img {
            display: block;
            width: 80%; 
            margin: 0 auto;

            &__details {
                display: block;
                width: 80%;
                margin: 20px auto 5px auto;
            }

            &__link {
                display: block;
                text-align: center;
                margin: 5px auto;
                font-size: 12px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    } 
    
    &__text {
        display: block;
        grid-area: text;
        margin: auto;
        width: 90%;
    }
    
    &__image {
        grid-area: image;
    }
}

.details {
    &__text {
        border-bottom: 1px solid $darkGrey;

        h5 {
            font-size: calc(min(max(18px, 2.4vw), 26px));
            margin: 0 5% 80px 5%;
            padding-top: 40px;
        }
    }

    &__quelle {
        display: flex;
        justify-content: space-evenly;
        padding: 30px 0;
        border-bottom: 1px solid $darkGrey;
    
        img, svg {
            width: 40%;
            max-height: 400px;
            object-fit: contain;
            margin: auto;
        }
    
        h5 {
            margin: auto;
        }
    }
}

#photo_svg {
    path {
        fill: white;
        stroke: #5C5B5B;
        stroke-width: 40px;

    }
}

#atom_svg {
    path {
        fill: white;
    }
}

.bundesländer {
    &__map {
        width: 80%;
        display: block;
        padding: 40px 0;
        margin: 0 auto;

        path {
            fill: #158EFF;
            stroke: #8a8a85;
            stroke-width: 4px;
            transition: fill 0.3s;
        }

        & :hover {
            fill: white;
        }
    }
}


.footer {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 700px){
    .navigation {
        gap: 30px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
        margin-bottom: 20px;
        grid-template-areas:
            'logo nav'
            ;

        &__toggle {
            display: none;
          }
    
        &__nav {
            clip-path: initial;
        }

        &__list {
            justify-content: flex-end;
            margin-right: 5%;
        }

        &__element {
            margin: 20px 10px;
        }
    }

    .intro{
        gap: 30px 0;
        grid-template-columns: 65% 35%;
        grid-template-areas:
            'text tacho'
            'image image'
            ;

        &__text {
            width: 80%;
            margin: auto;
        }
    }
}